{% extends 'login_base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="card-body p-5 bg-white rounded">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Restablecer su contraseña</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
              Ingrese su dirección de correo electrónico y le enviaremos un
                enlace para restablecer su contraseña.
            </small>
        </div>

        <button class="btn btn-primary">Enviar correo electrónico de restablecimiento de contraseña</button>
    {{ form_end(requestForm) }}
    </br>
       <p class="small mb-5 pb-lg-2"><a class="text-muted" href="{{ path('app_login') }}">Iniciar Session</a></p>
    </div>
{% endblock %}
